[Unit]
Description=Covid Attestation
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/GIT/attestationnumeriquecovid-19/
ExecStart=/home/pi/GIT/attestationnumeriquecovid-19/.venv/bin/gunicorn --log-level=debug -b localhost:8000 -w 2 web:app
Restart=always

[Install]
WantedBy=multi-user.target

